# Archivos creados por TeXstudio.
*.aux
*.lof
*.lomycapequ
*.lot
*.out
*.synctex.gz
*.toc
*.log
*.lol
*.bbl
*.blg

# Releases.
.releases/*
*.zip

# Version antigua
_old/

# Windows.
desktop.ini

# Se ignora pdf compilado
control.pdf

# OSX.
__MACOSX/
.DS_Store

# Archivos PyCharm
.idea/

# Compilados python
*.pyc

# Compilados pdf
control.pdf
main.pdf